<div class="post archives">
    <h2><a href="/archives/" title="Archives">Archives</a></h2>
    <ul>
        {{#each posts}}
            <li><a href="{{url}}" title="{{title}}">{{title}}</a><span>{{month date}} {{day date}}</span></li>
        {{/each}}
    </ul>
</div>